<div class="title-container">
<h1>Log In or Sign Up</h1>
</div>

<% if flash[:error] %>
    <h4 style="color: red;">
      Alert: <%= flash[:error] %>
    </h4>
<% end %>

<%= form_with url: '/login', method: :post do |f| %>

  <br><b><%= f.label :username %></b>
  <%= f.text_field :"login[username]" %></br>

  <br><b><%= f.label :password %></b>
  <%= f.text_field :"login[password]" %></br>

  <br><%= f.submit "Login", class: "btn btn-primary"%><br></br>

<% end %>

<div class="title-container">

</div>

