<h1>This is Login page</h1>

<% if flash[:error] %>
    <h4 style="color: red;">
      Alert: <%= flash[:error] %>
    </h4>
<% end %>

<%= form_with url: '/login', method: :post do |f| %>

  <%= f.label :username %>
  <%= f.text_field :"login[username]" %>

  <%= f.label :password %>
  <%= f.text_field :"login[password]" %>

  <%= f.submit "Login" %><br>

<% end %>