<% if flash[:error] %>
    <h4 style="color: red;">
      Alert: <%= flash[:error] %>
    </h4>
<% end %>
<%= form_for @user do |f|%>
    <%= f.label "Full Name" %>
    <%= f.text_field :name %><br>
    <%= f.label :username %>
    <%= f.text_field :username %><br>
    <%= f.label "New Password" %>
    <%= f.text_field :password_digest %><br>
    <%= f.label :age %>
    <%= f.text_field :age %><br>
    <%= f.submit %>
<% end %>