<h1> Confirm Follow </h1>
<h2><%=current_user.name%></h2>
<div style="width:200px;"> <image src="<%=(url_for(current_user.avatar))%>" style="max-width:100%;" /> </div> <br>

<h2><%=User.find(flash[:ids]["followed_id"]).name%></h2><br>
<div style="width:200px;"> <image src="<%=(url_for(User.find(flash[:ids]["followed_id"]).avatar))%>" style="max-width:100%;" /> </div> <br>
<%flash[:user_ids] = {follower_id: current_user.id, followed_id: flash[:ids]["followed_id"]}%>
<%= form_for @friend do |f|%>
    <%= f.submit "Confirm Follow" %>
<% end %>
<%= button_to "Cancel Follow", users_path, method: :get %>



