<div class="title-container">
<h1> All Users </h1>
</div>
    
<%= search_form_for @q do |f| %>
    <%= f.label "Name Search" %>
    <%= f.search_field :name_cont, class: "form-control"%><br>
    <%= f.label "Skill Level" %>
    <%= f.select :skill_level_cont, [[nil],['Beginner','beginner'],['Intermediate','intermediate'],['Expert','expert']], class: "form-control" %><br>
    <%= f.submit class: "btn btn-primary"%>
  <% end %>

<div class="users">
 <% @users.each do |user| %>
  <div class="user">
   <div class="thumbnail">
    <div class="caption">
      <% if user != current_user %>
        <div style="width:100px;"><image src="<%=(url_for(user.avatar))%>" style="max-width:100%;" /></div><%= link_to user.username, user_path(user) %><br>
      <%end%>
     </div>
    </div>
   </div>
 <% end %>
</div>

