<% if @user.avatar.attached? %>
    <div style="width:250px;"> 
    <image src="<%=(url_for(@user.avatar))%>" style="max-width:100%;" /> 
    </div>
<%end%>

<h1>Name: <%= @user.name %></h1>
<ul>
<li>Username: <%= @user.username %><br>
<li>Age: <%= @user.age %><br>
<li>Skill Level: <%= @user.skill_level %><br>
<li>Address: <%= @user.address %><br>
</ul>
<%= button_to "Edit User", edit_user_path(@user), method: :get %>