<% if @user.avatar.attached? %>
    <div style="width:250px;"> 
    <image src="<%=(url_for(@user.avatar))%>" style="max-width:100%;" /> 
    </div>
<%end%>

<h1>Name: <%= @user.name %></h1>
<ul>
<li>Username: <%= @user.username %><br>
<li>Age: <%= @user.age %><br>
<li>Skill Level: <%= @user.skill_level %><br>
<li>Address: <%= @user.address %><br>
<li>Bikes</br>   
<%@user.bikes.each do |b|%> 
    <ul><%= b.model %></br></ul> 
<%end%><br>
</ul>
<% if @user == current_user %>
    <%= button_to "Edit User", edit_user_path(@user), method: :get %>
    <br>
    <%= button_to "New Bike", "/users/#{@user.id}/bikes/new", method: :get %>
    <br>
    <%= button_to "Find a Trail", trails_path, method: :get %>
<% else %>
    <% flash[:ids] = {follower_id: current_user.id,followed_id: @user.id} %>
    <%= button_to "Follow User", new_friend_path, method: :get %>
<% end %>
<h2>Following</h2>
<% @user.followeds.each do |friend| %>
        <div style="width:100px;"><image src="<%=(url_for(friend.avatar))%>" style="max-width:100%;" /></div><%= link_to friend.name, user_path(friend) %><br>
<% end %>
<h2>Followers</h2>
<% @user.followers.each do |friend| %>
        <div style="width:100px;"><image src="<%=(url_for(friend.avatar))%>" style="max-width:100%;" /></div><%= link_to friend.name, user_path(friend) %><br>
<% end %>