<div class="title container">
  <h1> Find a Trail </h1>
  <%= search_form_for @q do |f| %>
    <div class="thumbnail"
      <br><%= f.label :name %>
      <%= f.search_field :name_cont%></br>
      <br><%= f.label :location %>
      <%= f.search_field :location_cont%></br>
      <br><%= f.label :length %>
      <%= f.search_field :length_cont %></br>
      <br><%= f.label :duration %>
      <%= f.search_field :duration_cont%></br>
      <br><%= f.label :difficulty %>
      <%= f.select :difficulty_cont, [[nil],['Beginner','beginner'],['Intermediate','intermediate'],['Expert','expert']] %></br>
      <br><%= f.label :trail_type %>
      <%= f.search_field :trail_type_cont%></br>
      <br><%= f.submit %></br>
    </div>
  <% end %>
</div>

<div class="trails">
  
</div>
<% @trails.each do |t| %>
    <li><%= link_to t.name, trail_path(t)%><br>  
    <div style="width:200px;"><image src="<%=(url_for(t.trail_pic))%>" style="max-width:100%;" /></div><br>
<% end %>
