<% flash[:id] = @trail.id %>
<% if @trail.trail_pic.attached? %>
    <div style="width:500px;"> 
    <image src="<%=(url_for(@trail.trail_pic))%>" style="max-width:100%;" /> 
    </div>
<%end%>

<div class="box-for-things">
    <h1>Name: <%= @trail.name %></h1>
</div>
<div class="box-for-thing">
    <li>Location: <%= @trail.location %><br>
    <li>Length: <%= @trail.length %><br>
    <li>Duration: <%= @trail.duration %><br>
    <li>Difficulty: <%= @trail.difficulty %><br>
    <li>Trail Type: <%= @trail.trail_type %><br>
    </ul>
    <br><%= link_to "Comment on this Trail!", new_trail_comment_path, data: { turbolinks: false } %></br>
    <br><%  @trail.trail_comments.each do |p| %>
                <li><%=p.user.name%><ul><%= p.description %></li><br></ul>
            <%end%>
</div>