<% flash[:id] = @bike.id %>

<h2><%= @bike.make %></h2>
<ul>
<br><li>Owner:<b><%= @bike.user.name %></b></br>
<br><li>Model:<b><%= @bike.model %></b></br>
<br><li>Bike Type:<b><%= @bike.bike_type %></b><br>
<br><li>Frame Size:<b><%= @bike.frame_size %></b></br>
<br>
<ul><br><% @bike.bike_comments.each do |p| %>
    <li><%=p.user.name%><ul><%= p.description %></li><br></ul>
    <%end%>
<br></ul>
<br><%= link_to "Comment on this Bike!", new_bike_comment_path, data: { turbolinks: false } %></br>
<br><%= link_to "Bikes", bikes_path %></br>
</ul>
