<% if flash[:errors] %>
  <% flash[:errors].keys.each do |key| %>
    <h4 style="color: red;"> Error: <%= "#{key} #{flash[:errors][key][0]}" %> </h4>
  <% end %>
<% end %>

<% flash[:bike_id] = flash[:id] %>
<h1><%= form_for @bike_comment do |f|%></h1>
    
    
    <br><%= f.label :description %>
    <%= f.text_field :description %></br>
    
    <br><%= f.submit %>
<% end %>