<% if flash[:errors] %>
  <% flash[:errors].keys.each do |key| %>
    <h4 style="color: red;"> Error: <%= "#{key} #{flash[:errors][key][0]}" %> </h4>
  <% end %>
<% end %>
<h1><%= form_for @post do |f|%></h1>
    <br><%= f.label "Trail" %>
    <%= f.collection_select(:trail_id, Trail.all, :id, :name) %></br>
    <br><%= f.label :title %>
    <%= f.text_field :title %></br>
    <br><%= f.label :description %>
    <%= f.text_field :description %></br>
    <br><%= f.label :meetup_date %>
    <%= f.datetime_local_field :meetup_date%></br>
    
    <br><%= f.submit %>
<% end %>