<h1><%= form_for @post do |f|%></h1>
    <br><%= f.label :user_id %>
    <%= f.collection_select(:user_id, User.all, :id, :name) %></br>
    <br><%= f.label "Trail" %>
    <%= f.collection_select(:trail_id, Trail.all, :id, :name) %></br>
    <br><%= f.label :title %>
    <%= f.text_field :title %></br>
    <br><%= f.label :description %>
    <%= f.text_field :description %></br>
    <br><%= f.label :meetup_date %>
    <%= f.datetime_local_field :meetup_date%></br>
    
    <br><%= f.submit %>
<% end %>