
<h1>Post of people you Follow</h1>
<h2> Upcoming Meetups </h2>
<ul>
<% @upcoming_posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %> on <%= post.meetup_date.strftime("%a %b, %d %Y at %I:%M%p") %><br>
    <%= post.trail.name %><br>
    <div style="width:200px;"><image src="<%=(url_for(post.trail.trail_pic))%>" style="max-width:100%;" /></div><br>
    <div style="width:50px;"><image src="<%=(url_for(post.user.avatar))%>" style="max-width:100%;" /></div> - <%= link_to post.user.username, user_path(post.user)%>
<% end %>
</ul>
<br>
<br>
<h2> Past Meetups </h2>
    <ul>
        <% @past_posts.each do |post| %>
            <br><li><%= link_to post.title, post_path(post) %> -- <%= post.user.name %></br>
            <div style="width:200px;"><image src="<%=(url_for(post.trail.trail_pic))%>" style="max-width:100%;" /></div><br>
            <br><%= post.trail.name %> on <%= post.meetup_date.strftime("%a %b, %d %Y at %I:%M%p") %></br>
        <% end %>
    </ul>