<% flash[:id] = @post.id %>

<h2><%= @post.title %></h2>
    <%if @post.user == current_user%>
        <%= link_to "Edit Post", edit_post_path, data: { turbolinks: false }  %>
    <%end%>
<div style="width:1000px;"><image src="<%=(url_for(@post.trail.trail_pic))%>" style="max-width:100%;" /></div><br>
<%= link_to "#{@post.trail.name}", trail_path(@post.trail_id) %><br>
<%= @post.meetup_date.strftime("%a %b, %d %Y at %I:%M%p") %><br>
<%= @post.description %><br>
<div style="width:50px;"><image src="<%=(url_for(@post.user.avatar))%>" style="max-width:100%;"></div> - <%= link_to @post.user.username, user_path(@post.user)%><br>
<div>

<h3>Comments</h3>
<ul>
<% @post.post_comments.each do |p| %>
    <li><div style="width:50px;"><image src="<%=(url_for(p.user.avatar))%>" style="max-width:100%;"></div><%= link_to p.user.username, user_path(p.user)%> - <%= p.description %><br>
    <%if p.user == current_user%>
        <%= link_to "Edit Comment", edit_post_comment_path(p), data: { turbolinks: false }  %>
    <%end%>
<%end%>
</ul>
</div>
<%= link_to "Comment", new_post_comment_path, data: { turbolinks: false } %>


