<!DOCTYPE html>
<html>
  <head>
    <title>BikeHouston</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
      <h1><center>BikeHouston</center></h1>
  </header>
  <% if controller_name == 'auth' && action_name == 'login'%>
    <%= link_to "Create a New Account", sign_up_path %> 
  <% elsif controller_name == 'auth' && action_name == 'sign_up' %>
    <%= link_to "Back to Login", login_path %>
  <% else %>
    <%= link_to "My Profile", user_path(current_user.id) %> 
    <%= link_to "Log Out", logout_path %> 
    <%= link_to "All Post", posts_path %> 
    <%= link_to "All Trails", trails_path %>
    <%= link_to "All Users", users_path %>
  <% end %>
    <%= yield %>
  </body>
</html>
