<!DOCTYPE html>
<html>
  <head>
    <title>BikeHouston</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if controller_name == 'auth' && action_name == 'login' %>
    <%= link_to "Create a New Account", sign_up_path %> 
  <% else %>
    <%= link_to "Log Out", logout_path %> <%= link_to "All Post", posts_path %> <%= link_to "All Trails", trails_path %>
  <% end %>
    <%= yield %>
  </body>
</html>
